html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
}

.box p {
    color: white;
    font-size: 20px;
}