@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');

html, body, ul, li {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}

.container {
    overflow-x: hidden;
    position:relative;
    width: 99.9%;
    white-space: nowrap;
}

.list {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

.item {
    font-size: 7rem;
    display: inline;
    text-transform: uppercase;
    padding-right: 1rem;
}